.button {
  height: rem-calc(48);
  background: linear-gradient(to right, #dc49a6, #8746eb);
  padding: rem-calc(11);
  border-radius: get-radius('radius-full');
  gap: get-spacing('spacing-sm');
  display: flex;
  align-items: center;
  justify-content: center;

  @include md {
    height: rem-calc(48);
    padding: 0 rem-calc(47);
  }
}
